<header class="header">
  <div class="container">
    <a class="header-skip-link" href="#main">Skip to main content</a>
    <div class="header-logo">
      <h1>logo</h1>
    </div>
    <div class="header-nav">
      {{> nav}}
    </div>
  </div>
</header>
