html {
  font-family: 'Merriweather', serif;
  font-size: 100%;
  line-height: 1.5;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #FFFFFF;
  color: #222222;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 75rem;
}

.header {
  background-color: #555555;
  padding: 1.5rem 0 0.75rem;
  color: #FFFFFF;
}

.header > .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-skip-link {
  position: absolute;
  top: -0.75rem;
  color: #FFFFFF;
  font-size: 0.875em;
  text-transform: lowercase;
}

.header-logo {
  margin: 1rem 0;
  padding: 0.125rem 0.75rem;
  border: 5px solid #FFFFFF;
  color: #FFFFFF;
}

.header-logo > h1 {
  margin: 0;
}

.nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav > ul > li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  padding: 0.75rem;
  color: #FFFFFF;
  text-transform: lowercase;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.main {
  width: 50rem;
}

.main .standfirst {
  font-size: 1.125em;
}

.main img {
  max-width: 100%;
  vertical-align: top;
  font-style: italic;
}

.main figure {
  margin: 0;
  padding: 0;
}

.main figure figcaption {
  margin-top: 0.5rem;
  color: #666666;
  font-style: italic;
}

.footer {
  margin-top: 3rem;
}

.title {
  font-size: 2.5em;
}

.posts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.post h3 {
  margin: 0;
  font-size: 1em;
}

.post p {
  margin: 0;
}

.post + .post {
  margin-top: 1rem;
}
